<div class="container">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Logowanie</h3>
				</div>
				<div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, required: false, autofocus: true, placeholder: "Email" %>
          <%= f.input :password, required: false, placeholder: "Hasło" %>
					<%= f.button :submit, "Zaloguj się", :class => "btn btn-lg btn-primary btn-block" %>
					<% end %>
        </div>
			</div>
		</div>
	</div>
</div>
