// Place all the styles related to the lekis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.add-new {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #ffffff;
}

.table-striped {
	background-color: #F2FFF0;
	border: 1px solid #0B3900;
}

.sort_link:hover {
	background-color: #F2FFF0;
}

.fieldset {
	margin: auto;
	width: 60%;
}

.btn-xs:hover{
	background-color: #B0FFA4;
}

.main-page-leki {
	width: 60%;
	margin: auto;
}

@media (max-width: 720px) {
	.main-page-leki {
		width: 100%;
		margin: auto;
	}
}

.form-horizontal {
	width: 60%;
	margin: auto;
}

.leki_search {
	padding: 20px;
	margin: auto;
	text-align: left;
}

.actions {
	padding-bottom: 10px;
}

.table-striped th {
	text-align: center;
}
