@import 'bootstrap-sprockets';
@import 'bootstrap';

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.createAccount {
	margin-top: 20px;
}

.panel-body {
 background-color: #F3FFF0;
}
