// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
    background-color: #F8FEF7;
    padding-top: 60px;
    margin: auto;
}

.main-page {
	text-align: center;
	font-family: Verdana;
	margin: auto;
}

@media (max-width: 350px) {
  .navbar-fixed-top {
    background-color: #0B3900;
    display: flex;
    flex-wrap: wrap;
  	font-family: Verdana;
  	margin: auto;
  }

  body {
      background-color: #F8FEF7;
      padding-top: 80px;
      margin: auto;
  }
}

.main-page .btn-lg{
	color: #ffffff;
}

@media (min-width: 351px) {
.navbar-fixed-top {
  background-color: #0B3900;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 4px 7px -1px rgba(0,0,0,0.75);
  margin: auto;
}
}

.navbar-link:hover {
  background-color: #0B3900;
}

.glyphicon {
  color: #16A700;
}

.jumbotron {
  background-color: #E9FFE3;
}
